
/*Geral*/
*{
    padding: 0;
    margin: 0;
    box-sizing: auto;
}

body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;   
    margin: 0;
    padding: 0;
}


/*HOME*/
nav a{
    color: white;
    text-decoration: none;
    padding: 0;
    border-radius: 0;
    

}

a .network{
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgba(165, 42, 42, 0.521);
}

img {
    margin-top: 3em;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}


/*Nome*/
h1 {
    text-align: center;
    color: rgba(165, 42, 42, 0.655);
}
/*Dev*/
h2 {
    text-align: center;
    color: rgba(26, 180, 26, 0.557);
}
/*Foto*/
nav img{
    height: 60px;
    width: 120px;
    border-radius: 30%;
}

nav img:hover {
    transition: 0.5s;
    opacity: 1;
    animation: 0.2s ;
    margin-bottom: 10%;
}

.centro {
    text-align: center;
}



/*Titulo*/
h3 {
    text-align: center;
    color: rgba(165, 42, 42, 0.655);
    font-size: 25px;
}


/*Sobre mim/Projetos*/

/*INPUT*/
.menu{
    margin: 5% 12%;
    background: transparent;
    padding: 0;
}
a, #showall  {
    display: inline-block;
    margin: 0 1%;
    padding: 3%;
    border-radius: 11%;
    -webkit-box-shadow: 0 3px 12px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 12px 3px rgba(0,0,0,0.2);
    box-shadow: 0 3px 12px 3px rgba(0,0,0,0.2);
    
}


.target_box{
    margin: 6% 10%;
    background: transparent;
   
}

.menu a{
    font-size: 30px;
    text-align: center;
    margin: 0;
    border: 2px solid green;

} 

input[type= "radio"] {
    display: none;
}

label {
    position: relative;
    color: rgba(26, 180, 26, 0.694);
    font-size: 20px;
    border-radius: 3px solid rgba(165, 42, 42, 0.441);
    padding: 3px 40px;
}

label:before{
    content: "";
}

input[type="radio"]:checked + label{
    background-color: rgba(0, 128, 0, 0.692);
    color: white;
}

p {
    font-size: 25px;
}
