
/*Geral*/
*{
    padding: 0;
    margin: 0;
    box-sizing: auto;
}

body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;   
    margin: 0;
    padding: 0;
}


/*HOME*/

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgba(165, 42, 42, 0.521);
}

img {
    margin-top: 3em;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


/*Nome*/
h1 {
    text-align: center;
    color: rgba(165, 42, 42, 0.655);
}
/*Dev*/
h2 {
    text-align: center;
    color: rgba(26, 180, 26, 0.557);
}
/*Foto*/
nav img{
    height: 60px;
    width: 120px;
    border-radius: 30%;
    
}

nav img:hover {
    transition: 0.5s;
    opacity: 1;
    animation: 0.2s ;
    margin-bottom: 3%;
}

.centro {
    text-align: center;
}


/*Botões*/
.selecionar {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 6em;     
}

input[type= "radio"] {
    display: none;
}

label {
    position: relative;
    color: rgba(26, 180, 26, 0.694);
    font-size: 20px;
    border: 3px solid rgba(165, 42, 42, 0.441); 
    border-radius: 3px solid rgba(165, 42, 42, 0.441);
    padding: 3px 40px;
}

label:before{
    content: "";
}

input[type="radio"]:checked + label{
    background-color: rgba(0, 128, 0, 0.349);
    color: rgb(0, 233, 16);
}

/*Titulo*/
h3 {
    text-align: center;
    color: rgba(165, 42, 42, 0.655);
    font-size: 25px;
}
/*Sobre mim*/
.Sobre{
    display: none;
    text-align: center;
}
/*Projetos*/
.Projetos{
    display: none;
    text-align: center;
    
}

